<div th:fragment="carDeleteFragment">
    <div id="car-del-popup-id" class="popup-window">
        <div class="popup-content">
            <div>
                <div>
                    <p id="delResult"></p>
                </div>
                <p id="delInfo"></p>
                <form>
                    <input type="button" value="Tak" onclick="deleteCar();">
                    <input type="button" value="Nie" onclick="hideModalWindow();">
                </form>
            </div>
        </div>
    </div>
</div>
