<div th:fragment="carEditFragment">
    <div id="car-edit-popup-id" class="popup-window">
        <div class="popup-content">
            <div>
                <div>
                    <p id="editResult"></p>
                </div>
                <form method="post" action="#" th:object="${carForm}">
                    <label for="ed_form_car_id">ID pojazdu:</label><input id="ed_form_car_id" type="text" disabled="disabled" th:value="${carid}"><br/>
                    <label for="ed_form_status">Status:</label>
                    <select id="ed_form_status"  th:name="status" th:field="*{status}">
                        <option th:value="INUSE" th:text="${T(com.carontime.on_time.model.car.CarStatus).INUSE.getFullName()}"></option>
                        <option th:value="UNUSED" th:text="${T(com.carontime.on_time.model.car.CarStatus).UNUSED.getFullName()}"></option>
                        <option th:value="BROKEN" th:text="${T(com.carontime.on_time.model.car.CarStatus).BROKEN.getFullName()}"></option>
                    </select><br/>
                    <label for="ed_form_lan">Szerokość geograficzna:</label><input id="ed_form_lan" th:name="latitude" type="text" th:value="*{getLatitude()}"/><br/>
                    <label for="ed_form_lon">Długość geograficzna:</label><input id="ed_form_lon"  th:name="longitude" type="text" th:value="*{getLongitude()}"/><br/>
                    <input id="ajaxtest" type="button" onclick="hideModalWindow()" value="Anuluj">
                    <input type="button" value="Zapisz" onclick="saveDataForCar()"/>
                </form>
            </div>
        </div>
    </div>
</div>