<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>admindata</title>
    <link rel="stylesheet" type="text/css" href="/css/modal-window.css">
    <script type="text/javascript" src="/scripts/modal-window.js"></script>
    <script type="text/javascript" src="/scripts/car_async.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #555;
        }
        table > th, td.buttons {
            text-align: center;
        }
    </style>
</head>
<body>
    <section layout:fragment="content">

        <form id="processingcar">
            <input id="car_id" type="hidden" name="carid" value=""/>
            <input id="car_status" type="hidden" name="status" value=""/>
            <input id="car_x" type="hidden" name="posx" value=""/>
            <input id="car_y" type="hidden" name="posy" value=""/>
        </form>

        <div th:if="${errors != null && errors.size() > 0}">
            <p>Wystąpiły błędy przy wysyłaniu formularza:</p>
            <p th:each="error : ${errors}" th:text="${error}"></p>
            <br/>
        </div>
        <div th:if="${results != null}">
            <p th:each="result : ${results.getMessages()}" th:text="${result}"></p>
            <br/>
        </div>

        <br>

        <form th:action="@{/admin/cars/add}" method="post" th:object="${carForm}">
            <label for="status"> Status: </label>
            <select id="status" th:name="status" th:field="*{status}">
                <option th:value="INUSE" th:text="${T(com.carontime.on_time.model.car.CarStatus).INUSE.getFullName()}"></option>
                <option th:value="UNUSED" th:text="${T(com.carontime.on_time.model.car.CarStatus).UNUSED.getFullName()}"></option>
                <option th:value="BROKEN" th:text="${T(com.carontime.on_time.model.car.CarStatus).BROKEN.getFullName()}"></option>
            </select>
            <label> Lokalizacja: </label>
            <input id="latitude" name="latitude" placeholder="Szerokość geograficzna" th:value="*{latitude}">
            <input id="longitude" name="longitude" placeholder="Długość geograficzna" th:value="*{longitude}">
            <input type="submit" value="Dodaj">
        </form>

        <table>
            <thead>
                <tr>
                    <td>ID pojazdu</td>
                    <td>Status pojazdu</td>
                    <td>Szerokość geograficzna</td>
                    <td>Długość geograficzna</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="car : ${carList}">
                    <td th:text="*{car.getId()}"></td>
                    <td th:text="*{car.getStatus().getFullName()}"></td>
                    <td th:text="*{car.getX()}"></td>
                    <td th:text="*{car.getY()}"></td>
                    <td class="buttons">
                        <form>
                            <input type="button" th:onclick="'showAsModalWindow(\'car-edit-popup-id\');  loadDataForCar(\'' + ${car.getId()} + '\');'" value="Edytuj"/>
                            <input type="button" class="link" th:onclick="'loadDataForCar(\'' + ${car.getId()} + '\', null); showAsModalWindow(\'car-del-popup-id\');'" value="Usuń"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:insert="~{/admin/popups/caredit :: carEditFragment}"></div>
        <div th:insert="~{/admin/popups/cardelete :: carDeleteFragment}"></div>
    </section>
</body>
</html>