<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      lang="en"

>
<head>
    <meta charset="UTF-8">
    <title>Formularz rejestracji</title>
    <style>
        table, td, th {
            cellpadding: 0;
            cellspacing: 0;
            border: 0;
            text-align: left;
        }

        table {
            width: 40%;
        }

        th, td {
            padding: 2px;
        }
    </style>
</head>
<body>
<section layout:fragment="content">

    <div align="center">

        <div th:if="${errors != null}">
            <p>Wystąpiły byłędy przy wysyłaniu formularza:</p>
            <p th:each="error : ${errors.getMessages()}" th:text="${error}"></p>
        </div>

        <form th:action="@{/register}" method="post" th:object="${userForm}">

            <table>
                <tr>
                    <th style="text-align: right;">
                        <label for="username">User Name:</label></th>
                    <th><input type="text" id="username" name="username" th:value="*{username}">
                    </th>
                </tr>
                <tr>
                    <th style="text-align: right;">

                        <label for="password">Password: </label></th>
                    <th><input type="password" id="password" name="password" th:value="*{password}">
                    </th>
                </tr>
                <tr>
                    <th style="text-align: right;">

                        <label for="confirmpassword">Confirm Password:</label></th>
                    <th><input type="password" id="confirmpassword" name="confirmpassword"
                               th:value="*{confirmpassword}">
                    </th>
                </tr>
                <tr>
                    <th style="text-align: right;">

                        <label for="name"> Name: </label></th>
                    <th><input type="text" id="name" name="name" th:value="*{name}">
                    </th>
                </tr>
                <tr>
                    <th style="text-align: right;">

                        <label for="lastname"> Lastname: </label></th>
                    <th><input type="text" id="lastname" name="lastname" th:value="*{lastname}">
                    </th>
                </tr>
                <tr>
                    <th style="text-align: right;">

                        <label for="city"> City: </label></th>
                    <th><input type="text" id="city" name="city" th:value="*{city}">
                    </th>
                </tr>
                <tr>
                    <th style="text-align: right;">

                        <label for="carLicenceId"> Car Licence ID: </label></th>
                    <th><input type="text" id="carLicenceId" name="carLicenceId"
                               th:value="*{carLicenceId}">
                    </th>
                </tr>
                <tr>
                    <th style="text-align: right;">

                        <label for="emailAdress"> Email: </label></th>
                    <th><input type="text" id="emailAdress" name="emailAdress"
                               th:value="*{emailAdress}">
                    </th>
                </tr>
                <tr>
                    <th style="text-align: right;">

                        <label for="phoneNumber"> Phone: </label></th>
                    <th><input type="text" id="phoneNumber" name="phoneNumber"
                               th:value="*{phoneNumber}">
                    </th>
                </tr>
            </table>
            <br>
            <input type="submit" value="Save">
            <br>


        </form>
    </div>
</section>
</body>
</html>