<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <style>
        table, td, th {
            cellpadding: 0;
            cellspacing: 0;
            border: 0;
            text-align: left;
        }

        table {
            width: 40%;
        }

        th, td {
            padding: 2px;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <div>
        <a th:href="@{/index}">Wróć</a>
        <div th:if="${errors != null}">
            <p>Wystąpiły błędy przy wysyłaniu formularza:</p>
            <p th:each="error : ${errors.getMessages()}" th:text="${error}"></p>
        </div>
        <div th:if="${result != null}">
            <p th:text="${result.getMessage(0)}">Status edycji...</p>
        </div>
        <form th:action="@{/user/edit}" th:object="${userEditForm}" method="post">
            <table>
                <tr>
                    <th>

                        <label for="name-field">Imię: </label></th>
                    <th><input id="name-field" type="text" name="name" th:value="*{name}"/></th>
                </tr>
                <tr>
                    <th>
                        <label for="lastname-field">Nazwisko: </label></th>
                    <th><input id="lastname-field" type="text" name="lastname"
                               th:value="*{lastname}"/></th>
                </tr>
                <tr>
                    <th>
                        <label for="city-field">Miasto: </label></th>
                    <th><input id="city-field" type="text" name="city" th:value="*{city}"/></th>
                </tr>
                <tr>
                    <th>
                        <label for="cardrivelicence-field">Prawo jazdy: </label></th>
                    <th><input id="cardrivelicence-field" type="text" name="driverLicense"
                               th:value="*{driverLicense}"/></th>
                </tr>
                <tr>
                    <th>
                        <label for="email-field">Email: </label></th>
                    <th><input id="email-field" type="text" name="email" th:value="*{email}"/></th>
                </tr>
                <tr>
                    <th>
                        <label for="phone-field">Telefon: </label></th>
                    <th><input id="phone-field" type="number" name="telephone"
                               th:value="*{telephone}"/></th>
                </tr>
            </table>
            <input type="Submit" value="Zapisz"/>

        </form>
    </div>
</section>
</body>
</html>