/*
    .popup-window  - Główny kontener zawierający okienko modalne.
        !UWAGA! Nie jest to treść samego okna modalnego, ale jego opakowanie, dzięki któremu jest możliwe jego zamknięcie
        po kliknięciu w dowolny obszar ekranu
    .popup-content - Kontener zawierający właściwą treść okna modalnego.

    Przykład:

        <div class="popup-window">
            <div class="popup-content">
                <p>Właściwa treść okna modalnego</p>
            </div>
        </div>
*/

.popup-window {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    display: none;
}

.popup-content {
    margin:15% auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    background-color:white;
    padding: 20px;
}

