<div th:fragment="car-map-box" xmlns:sec="http://www.w3.org/1999/xhtml">
    <form id="database">
        <input type="hidden" class="carsOnMapAtributes" th:each="car : ${listOfCars}" th:value="${car.getLocalization().x} + '|' + ${car.getLocalization().y} + '|' + ${car.getStatus()}">
    </form>
    <form id="secretValue" >
        <div xmlns:sec="http://www.thymeleaf.org/extras/spring-security" sec:authorize="hasRole('ROLE_ADMIN')">
            <input type="hidden" id="heIsAdmin" value="TRUE"/>
        </div>
        <div xmlns:sec="http://www.thymeleaf.org/extras/spring-security" sec:authorize="!hasRole('ROLE_ADMIN')">
            <input type="hidden" id="heIsAdmin" value="FALSE"/>
        </div>

    </form>

    <div id="map" style="height: 500px; width:100%"></div>

    <script>

        var map;

        function initMap() {
            var iconSrc = 'http://localhost:8083/icons';
            var center = {lat: 53.014541, lng: 18.596197};
            // The map, centered at Toruń 53.014421, 18.598591 53.014541, 18.596197
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 12, center: center});

            var icons = {
            'UNUSED': {
                    icon: iconSrc + "/unuse.png"
                },
            'INUSE': {
                    icon: iconSrc + "/in_use.png"
                },
            'BROKEN': {
                    icon: iconSrc + "/broken.png"
                }
            };

            var features = Array();
            var trueString = "TRUE";

            if (document.getElementById('heIsAdmin').valueOf().value===trueString){

                $('.carsOnMapAtributes').each(function () {
                var atributes = $(this).val().split('|');
                features.push({
                    position: new google.maps.LatLng(atributes[0], atributes[1]),
                    type: atributes[2]
                });
            });
            }else {

                $('.carsOnMapAtributes').each(function () {
                    var atributes = $(this).val().split('|');
                    if (atributes[2]==='UNUSED'){
                        features.push({
                            position: new google.maps.LatLng(atributes[0], atributes[1]),
                            type: atributes[2]
                        });
                    }
                });
            }


            // Create markers.
            var markers = features.map(function (feature) {
                return new google.maps.Marker({
                    position: feature.position,
                    icon: icons[feature.type].icon,
                    map: map
                });
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

        }


    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuI8FWXrvR72kDdXgxznYMl5zvoli8cy4&callback=initMap" async defer></script>
</div>